<!doctype html>
<html>
    <head>
        <title>Doubler Input</title>
        <link rel="stylesheet" href="static/styles.css" />
    </head>

    <body>
        <h2>Hi, Welcome to the <i>doubler</i></h2>
        <p>Type in any phrase below to transform it:</p>
        <form action="/doubler" method = "post">
            <input type=text name=input_text>
            <!-- the name, "input_text", becomes the KEY -->
            <!-- (whatever's there), becomes the VALUE -->
            <input type=submit value=Submit>
        </form>
    </body>
    
</html>