<!doctype html>
<html>

    <head>
        <title>Stylish Self</title>
        <link rel="stylesheet" href="static/styles.css" />
        <script src="static/cats.js"></script>
    </head>

    <body>
      <h1 class="top"> My professional homepage. </h1>
      
        
        <div class="header">
          <h1>Introducing... Larry Wang</h1>
        </div>
        
        <div class="row">
          <div class="col-3 menu">
            <ul>
              <li>Blog</li>
              <li>Linkedin</li>
              <li>Github</li>
              <li>Social Medias</li>
            </ul>
          </div>
      
        
      <h5>
        <ol>
          <li> I am a freshman at <span style="color:gold">Harvey</span> <span style="color:black">Mudd</span> <span style="color:gold">College</span> </li>
          <li> I am studying computer science 💻 and math✏️   </li>
          <li> I play <bold> frisbee </bold> 🥏 </li>
          <li> I like reading fiction, fantasy, and mystery 📚</li>
          <li> Click on my links to your left! </li>
          <li> Scroll me to see how this page resizes!</li>


        </ol>
      </h5>


      
      <div class="panels">
        <div class="panel panel1">
          <p>A</p>
        </div>
        <div class="panel panel2">
          <a>Color</a>
        </div>
        <div class="panel panel3">
          <p>For</p>
        </div>
        <div class="panel panel4">
          <p>Each</p>
        </div>
        <div class="panel panel5">
          <p>The</p>
        </div>
        <div class="panel panel6">
          <p>Rainbow</p>
        </div>
  
      </body>
    
</html>