<!doctype html>
<html>

    <head>
        <title>Me</title>
    </head>

    <body>

        <h1> My name is Larry </h1>

        <h2> and I like math. </h2>
        <h3> Here are some famous unsolved problems in mathematics that you should try for fun</h3>
        <div>
          <ol>
            <li> Goldbach's Conjecture: it posits that every even integer greater than 2 can be expressed as the sum of two prime numbers. Despite being tested extensively for large numbers, a general proof or counterexample remains elusive.</li>
            <li> The Riemann Hypothesis: a conjecture about the distribution of prime numbers. It remains unproven, and its proof or disproof is one of the Millennium Prize Problems </li>
            <li> Navier-Stokes Existence and Smoothness: The Navier-Stokes equations describe the motion of fluid substances, and their existence and smoothness properties are still an open problem. Solving this problem is worth one million dollars through the Clay Millennium Prize.</li>
        </div>
        <h3>I think these problems would make for great brainteasers or next exam questions.</h3>
        <img src="https://media.mathstodon.xyz/media_attachments/files/109/411/598/323/455/297/original/35492275bb90e160.png" height="150px" width="125px">
    
        <br><br>
    
        <h2> I have other interests too, you see. Here are my favorite sorting algorithms. 🤓🤓 </h2>
    
        <div>
            <ul>
          <li> <a href="https://en.wikipedia.org/wiki/Bogosort">Bogo sort</a> </li>
          <li> <a href="https://www.geeksforgeeks.org/sleep-sort-king-laziness-sorting-sleeping/">Sleep sort</a> </li>
          <li> <i><b>And the greatest of all:</b></i> <a href="https://pages.cs.wisc.edu/~okushi/">Miracle sort!</a> </li>
            </ul>
        </div>
    
        <img src="https://www.cs.hmc.edu/~dodds/alien.png" height="101px">
    
      </body>
    
</html>